#error1
{
  margin-left: -50px;
  margin-top: 10px;
  position: relative;
  
  
}

#error_2
{
  margin-left: -50px;
  margin-top: 10px;
  position: relative;
  
  
}

#error_3
{
  margin-left: -50px;
  margin-top: 10px;
  position: relative;
  
  
}

#error_4
{
  margin-left: -50px;
  margin-top: 10px;
  position: relative;
  
  
}


#error_5
{
  margin-left: -50px;
  margin-top: 10px;
  position: relative;
  
  
}


